// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-home {
  background: url(restaurant-background.jpg);
  background-size: 1226px;
  height: 728px;
}

.content-center {
  color: #ffffff;
  margin-top: 60px;
}

.logo {
  background: url(seatyourself.png);
  height: 100px;

}
